.sidebar {
  background: $sidebar-bg;
  width: 265px;
  position: absolute;
  z-index: 100;
  height: 100vh;
  .sidebar-brand {
    border-bottom: 1px solid #3d3c3c;
  }

  .sidebar-nav {
    overflow: auto;
    height: 100%;
    z-index: 11;
    color: $sidebar-menu-text;

    .nav-item {
      padding: 1rem 0;
      padding-left: 15%;
      transition: color 0.25s;
      .nav-link {
        font-size: 1.1rem;
        font-weight: 800;
        padding-left: 12%;

        .menu-title {
          margin-left: 10px;
        }
        &[aria-expanded="false"]::after {
          display: none;
        }
        &[aria-expanded="true"]::after {
          display: none;
        }
      }
      .active {
        border-left: 6px solid $sidebar-menu-text;
        color: white;
      }

      &:hover {
        color: white;
      }
    }
  }
}
